.cell-wrapper {
    border-radius: 8px;
    padding: 12px;
    width: 100%;

    p {
        line-height: 24px;
    }
}

.interactive-cell {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.15);


    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
    }
}