.image {
    width: 100%;
    border-radius: 8px;
}

.image-with-caption {
    margin-bottom: 8px;
}


.image-without-caption {
    margin-bottom: 28px;
}

.image-caption {
    color: var(--secondary-txt-color);
    /* font-size: 14px;
    line-height: 14px; */

}

.link-caption {
    color: var(--secondary-txt-color);
    /* font-size: 14px;
    line-height: 14px; */
    display: inline;
    text-decoration: underline;

}

.caption-margin-bottom {
    margin-bottom: 28px;
}