.tabs-container {
  display: flex;
  align-items: center;
  padding: 0px 80px 0px 20px;
  width: 100%;
  overflow: scroll;
}

.tabs {
  position: relative;
  margin-top: 40px;
  display: flex;
  gap: 32px;
  /* Espaciado entre pestañas */
}

.tab-item {
  position: relative;
  background: none;
  border: none;
  color: var(--secondary-txt-color);
  font-size: 16px;
  cursor: pointer;
  padding: 0px 0px 8px 0px;
  outline: none;
  transition: color 0.3s ease;
  font-size: 18px;
  line-height: 32px;
}

.tab-item.active {
  color: var(--primary-txt-color)
}

.tab-item:hover {
  color: var(--strong-color);
}

/* La barra inferior */
.tab-indicator {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 100px;
  background-color: var(--primary-txt-color);
  border-radius: 8px;
  transition: transform 0.4s ease;
}