#background-video {
  position: fixed;
  top: -20px;
  left: -20px;
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  z-index: -999999;
  pointer-events: none;
  user-select: none;
  filter: hue-rotate(260deg) blur(0px);
  /* Ajusta el tiempo según lo desees */

}