.about-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}



.carousel-wrapper {
    padding-top: 0px;
    padding-bottom: 24px;
}

@media(min-width: 980px) {
    .carousel-wrapper {
        display: none;
    }

}



.text-wrapper {
    width: 100%;
    padding: 40px 80px 80px 20px;
    max-width: 800px;

    @media (max-width:980px) {
        padding: 0px 20px 80px 20px;

    }
}

.about-txt {
    padding: 0px 0px 0px 0px;
}

.section-title {
    font-weight: bold;
    line-height: 45px;
    margin-top: 32px;
}