.modal-cell-wrapper {
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    background-color: none;
    transition: transform 0.8s ease, background-color 0.2s ease;

    a {
        text-decoration: none;
    }
}

.modal-cell-wrapper:hover {
    background-color: var(--secondary-bg-color);
    cursor: pointer;

}


@media (max-width:980px) {

    .modal-cell-wrapper {
        background-color: var(--secondary-bg-color);
    }

    .modal-cell-wrapper:hover {
        background-color: var(--tertiary-bg-color);
    }

}