@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import './normalize.css';


:root {
  --primary-bg-color: #1E1E1E;
  --secondary-bg-color: rgba(0, 0, 0, 0.2);
  /* #000 con 50% */
  --tertiary-bg-color: rgba(255, 255, 255, 0.1);
  /* #FFF con 10% */
  --primary-txt-color: #EDEDED;
  --secondary-txt-color: rgba(255, 255, 255, 0.5);
  /* #FFF con 50% */
  --quary-mobile-jump: 1080px;
}

.font-body-regular {
  font-family: "Source Sans 3", Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.font-small-regular {
  font-family: "Source Sans 3", Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: var(--secondary-txt-color);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: "Source Sans 3", Arial, sans-serif;
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--primary-txt-color);
}

p {
  margin: 0;
}

/* colors */
.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.tertiary-bg {
  background-color: var(--tertiary-bg-color);
}

.secondary-txt {
  color: var(--secondary-tx-color);
}

/* Typography */
.text-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.text-body-regular {
  font-size: 18px;
  line-height: 32px;
}

.text-small-regular {
  font-size: 16px;
  line-height: 16px;
  color: var(--secondary-txt-color);
}

.body-wrapper {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  border: 1px solid red;

  @media (max-width:575px) {
    justify-content: center;
  }

  @media (min-width:576px) and (max-width:980px) {
    justify-content: center;
  }
}

.main-wrapper {
  width: 1080px;
  height: 100dvh;
  display: flex;
  padding: 64px 128px 0px 128px;
  flex-direction: column;
  gap: 0px;

  @media (max-width:575px) {
    padding: 24px 24px 0px 24px;
  }

  @media (min-width:576px) and (max-width:980px) {
    padding: 64px 24px 0px 24px;
  }

  @media (max-width:980px) {
    min-width: 390px;
    max-width: 576px;
    width: 100%;
  }
}

.list-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 128px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scroll-behavior: smooth;
}

.list-wrapper::-webkit-scrollbar {
  display: none;
  /* Oculta el scrollbar en navegadores basados en WebKit */
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hovered-image-wrapper {
  max-width: 70%;
  max-height: 70%;
  border-radius: 16px;
  animation: fadeInUp 0.6s ease forwards;

  video,
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    display: block;
    transform: translateY(20px);
  }

  50% {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.content-wrapper {
  width: 100%;
  overflow: hidden;
}


.fade-in-move-up {
  animation: fadeInUp 0.4s ease-in-out;
}

.toast {
  background-color: white;
  color: var(--primary-bg-color);
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
  left: 140px;
  bottom: 64px;
  pointer-events: none;
  /* Evita que interfiera con el clic del ratón */
  transform: translate(-50%, -50%);
  /* Opcional: ajusta el centrado relativo a las coordenadas */
  animation: fadeInUp 0.3s ease forwards, fadeOutDown 0.3s ease 1.7s forwards;
}

/* MODAL */
/* Fondo semitransparente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo negro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
  opacity: 0;
  /* Animación de fade-in para el fondo */
}

/* Botón de cerrar */
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
    /* Empieza desde abajo */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Llega a su posición final */
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
    /* Posición inicial */
  }

  to {
    opacity: 0;
    transform: translateY(30px);
    /* Se mueve hacia abajo */
  }
}

@media (max-width:980px) {

  .background-wrapper {
    display: none;
  }

  .toast {
    left: 36px;
  }
}