@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import './normalize.css';


:root {
  --primary-txt-color: rgba(0, 0, 0, 0.8);
  --primary-inverted-txt-color: rgba(255, 255, 255, 1);
  --secondary-txt-color: rgba(0, 0, 0, 0.5);
  --primary-bg-color: rgba(255, 255, 255, 0.9);

  --interactive-bg-color: rgba(0, 0, 0, 0.9);
  --interactive-hover-bg-color: rgba(0, 0, 0, 0.05);
  --interactive-active-bg-color: rgba(0, 0, 0, 0.2);

  --primary-action-color: rgba(0, 0, 0, 0.8);
  --secondary-action-color: rgba(0, 0, 0, 0.05);

  --hover-opacity: 0.7;
  --overlay-bg-color: rgba(255, 255, 255, 0.1);

  --dropshadow-layer-1: 0px 0px 24px rgba(0, 0, 0, 0.1);
  --dropshadow-layer-2: 0px 0px 64px rgba(0, 0, 0, 0.1);

  --body-background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
}

.font-body-regular {
  font-family: "Source Sans 3", Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.font-small-regular {
  font-family: "Source Sans 3", Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: var(--secondary-txt-color);
}

body {
  color: var(--primary-txt-color);
  font-family: "Source Sans 3", Arial, sans-serif;
  flex: 1;
  height: 100vh;
  background-color: var(--primary-bg-color);
  background-image: var(--body-background-image);
}

/* Chrome, Safari y Opera (basados en WebKit) */
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
  overflow: hidden;
  /* Firefox */
}

/* IE y Edge */
html {
  -ms-overflow-style: none;
  /* Oculta la scrollbar en IE/Edge */
}

a {
  text-decoration: none;
  color: var(--primary-txt-color);
}

p {
  margin: 0;
}

/* colors */
.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.tertiary-bg {
  background-color: var(--tertiary-bg-color);
}

.secondary-txt {
  color: var(--secondary-tx-color);
}

/* Typography */
.text-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.text-body-regular {
  font-size: 18px;
  line-height: 32px;
}

.text-small-regular {
  font-size: 16px;
  line-height: 16px;
  color: var(--secondary-txt-color);
}

.body-wrapper {
  width: 100%;
  height: 100dvh;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  display: flex;
  gap: 80px;

  @media (max-width:1200px) {
    justify-content: center;
    justify-content: center;
    display: flex;
    gap: 0px;
  }



}

.main-wrapper {
  min-width: 700px;
  height: 100dvh;
  display: flex;
  padding: 40px 80px 0px 80px;
  flex-direction: column;
  gap: 0px;
  background-color: var(--primary-bg-color);
  backdrop-filter: blur(0px);

  @media (max-width:575px) {
    /* padding-top: 48px; */

  }

  @media (min-width:576px) and (max-width:980px) {}

  @media (max-width:980px) {
    min-width: 100%;
    padding: 20px 0px 0px 0px;
  }
}

.list-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 20px;
  /* Firefox */
  scrollbar-width: none;
  /* IE y Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari y Opera */
.list-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 80px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;

  @media (max-width:1200px) {
    margin-right: 0px;
  }

}

.hovered-image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 24px;
  /* Centra horizontalmente */
  align-items: center;
  animation: fadeInUp 0.6s ease forwards;

  video,
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: var(--dropshadow-layer-1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    display: block;
    transform: translateY(20px);
  }

  50% {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.content-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}





.fade-in-move-up {
  animation: fadeInUp 0.4s ease-in-out;
}

.toast {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  box-shadow: var(--dropshadow-layer-1);
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 1000;
  position: absolute;
  left: 80px;
  bottom: 64px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fadeInUp 0.3s ease forwards, fadeOutDown 0.3s ease 1.7s forwards;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-action-color);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
    /* Empieza desde abajo */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Llega a su posición final */
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
    /* Posición inicial */
  }

  to {
    opacity: 0;
    transform: translateY(30px);
    /* Se mueve hacia abajo */
  }
}

@media (max-width:980px) {


  .toast {
    left: 36px;
  }
}